@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Machine Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.MachineName)</h3>
<h3>Details: @Html.DisplayFor(model => model.MachineDetails)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers licensed to fix it.</p>
}
else
{
  <h4>Engineers licensed to fix this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add an Engineer to this Machine", "AddEngineer", new { id = Model.MachineId }) | @Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId }) | @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>